
<!-- Sidebar -->
<div id="sidebar" class="4u">
	<section>
		<header>
			<h2>Link Utili</h2>
		</header>
		<div class="row">
			<section class="6u">
				<ul class="default">
					<li><a href="http://www.ingegneria.unifi.it/">Sito Ufficiale Ingegneria</a></li>
					<li><a href="http://www.ingegneria.unifi.it/mrbs/day.php?day=21&month=10&year=2013&area=1&room=3">Prenotazione Aulee</a></li>
					<li><a href="http://www.ing-inl.unifi.it/">Sito Ufficiale Ingegneria Informatica</a></li>
					<li><a href="https://sol-portal.unifi.it/ls-3-studenti.html">Servizi Online Unifi</a></li>
					<li><a href="https://www.dsu.toscana.it/servizi/ristorazione/dove-e-cosa-mangiare/firenze/">Mensa ARDSU</a></li>
					<li><a href="https://www.ingegneria.unifi.it/vp-143-guida-dello-studente.html">Guida dello Studente 2020-2021 </a></li>


					
				</ul>
			</section>
			<section class="6u">
				<ul class="default">
					<li><a href="http://webmail.stud.unifi.it/">Accesso Mail Unifi</a></li>
					<li><a href="http://bit.do/unifi_inginf">Materiale Didattico</a></li>
					<li><a href="https://www.siaf.unifi.it/CMpro-v-p-865.html">Accesso Software Microsoft</a></li>
					<!--<li><a href="https://dropitto.me/tutor_unifi_ing">Upload Materiale Didattico</a></li> !-->
					<li><a href="https://studenti.unifi.it/auth/Logon.do?EnableRwd=1">Prenotazione Esami</a></li>
					<li><a href="http://www.ingegneria.unifi.it/cmpro-v-p-147.html">Orario Lezioni</a></li>
					
				</ul>
			</section>
		</div>
	</section>
	<section>
		<header>
			<h2>News recenti</h2>
		</header>
		<ul class="style">
		{% for post in site.posts offset: 0 limit: 2 %}
			<li>
				<p class="posted">{{ post.date | date_to_string }} </p>
				<p><a href="{{ site.prefix }}{{ post.url }}">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</a></p>
			</li>
		{% endfor %}
		</ul>
	</section>
</div>

