
<!-- Sidebar -->
<div id="sidebar" class="4u">
	<section>
		<header>
			<h2>Link Utili</h2>
		</header>
		<div class="row">
			<section class="6u">
				<ul class="default">
					<li><a href="http://www.ingegneria.unifi.it/">Sito Ufficiale Ingegneria</a></li>
					<li><a href="www.ingegneria.unifi.it/mrbs/day.php">Prenotazione Aulee</a></li>
					<li><a href="http://www.ing-inl.unifi.it/">Sito Ufficiale Ingegneria Informatica</a></li>
					<li><a href="http://sol.unifi.it/">Servizi Online Unifi</a></li>
					<li><a href="http://www.dsu.toscana.it/it/ristorazione/mense/firenze">Mensa ARDSU</a></li>
					<li><a href="http://www.ingegneria.unifi.it/upload/sub/guida-dello-studente/guida-studente-2015-2016-1.pdf">Guida dello Studente 2015-2016 </a></li>


					
				</ul>
			</section>
			<section class="6u">
				<ul class="default">
					<li><a href="http://webmail.stud.unifi.it/">Accesso Mail Unifi</a></li>
					<li><a href="http://bit.do/unifi_inginf">Materiale Didattico</a></li>
					<li><a href="https://sol.unifi.it/elms/stud_jsp/login.jsp">Accesso Software Microsoft</a></li>
					<li><a href="https://dropitto.me/tutor_unifi_ing">Upload Materiale Didattico</a></li>
					<li><a href="https://sol.unifi.it/prenot/prenot">Prenotazione Esami</a></li>
					<li><a href="http://www.ingegneria.unifi.it/cmpro-v-p-147.html">Orario Lezioni</a></li>
					
				</ul>
			</section>
		</div>
	</section>
	<section>
		<header>
			<h2>News recenti</h2>
		</header>
		<ul class="style">
		{% for post in site.posts offset: 0 limit: 2 %}
			<li>
				<p class="posted">{{ post.date | date_to_string }} </p>
				<p><a href="{{ site.prefix }}{{ post.url }}">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</a></p>
			</li>
		{% endfor %}
		</ul>
	</section>
</div>

